.errorMessage {
    color: red;
}

.successMessage {
    color: green;
}

.form-w {
    max-width: 350px;
    width: 100%;
}

.input {
    width: -webkit-fill-available;
    height: 25px;
    padding-left: 10px;
}